<div class="sidebar">
  <div class="logo">📦 <span>StockFlow</span></div>

  <ul>
    <li class="active">
      <i class="bi bi-grid"></i>
      Dashboard
    </li>

    <li>
      <i class="bi bi-box-seam"></i>
      Products
    </li>

    <li>
      <i class="bi bi-tags"></i>
      Categories
    </li>

    <li>
      <i class="bi bi-truck"></i>
      Suppliers
    </li>

    <li>
      <i class="bi bi-arrow-down-circle"></i>
      Stock In
    </li>

    <li>
      <i class="bi bi-arrow-up-circle"></i>
      Stock Out
    </li>

    <li>
      <i class="bi bi-bar-chart"></i>
      Reports
    </li>
  </ul>
</div>
